<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <title>Document</title>
  </head>
  <body class="page">
    <div class="main" id="main" v-cloak>
        <section class="todo" id="todo">
        <input
            type="text"
            class="todo__input"
            placeholder="Enter what to do"
            v-model="task"
            @keyup.enter="addTodo"
        />

        <button type="button" class="todo__button" @click="addTodo" >
            Add
        </button>
        </section>
        <section class="component" v-if="loading"><loader /></section>
        <section class="displayTask" v-else >
            <p v-if="!todoList.length" class="empty"> Пусто </p>
            <div class="task"
            v-for="(item, index) in todoList"
            v-bind:key="index"
            v-bind:title="item.title"
            v-bind:class="{'lineThrought' : item.done}"
            v-else
            >
            <p>{{index + 1}}</p>
            <div class="edit" v-if="item.edit"><input type="text" v-model="editInput" @keyup.enter="editTodo(index)"/>
              <button @click="editTodo(index)" ><i class="fas fa-check"></i></button>
            </div>
            <p v-else>{{item.title}}</p>
            <button @click="doneTodo(index)"><i class="fas fa-check"></i></button>
            <button @click="editButton(index)"><i class="far fa-edit"></i></button>
            <button @click="removeTodo(index)"><i class="fas fa-trash"></i></button>
            </div>
        </section>
    </div>    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./main.js"></script>
  </body>
</html>
