.todo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(127, 255, 212, 0.432);
    max-width: 768px;
    margin: 0 auto;
}

.todo__input {
    width: 420px;
    height: 40px;
    box-sizing: border-box;
}

.todo__button {
    width:fit-content;
    height: 40px;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: rgba(127, 255, 212, 0.432);
}

.task {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
}

.lineThrought {
    text-decoration: line-through;
}


